<?xml version="1.0"?>
<robot xmlns:xacro="htpp://www.ros.org/wiki/xacro">

    <joint name="lidar_joint" type="fixed">
        <parent link="chassis"/>
        <child link="lidar_frame"/>
        <origin xyz="0.032 0 0.059" rpy="0 0 0"/>
    </joint>

    <link name="lidar_frame">
      
        <visual>
            <geometry>
                <cylinder radius="0.035" length="0.03"/>
            </geometry>
            <materaial name="orange"/>
        </visual>

        <collision>
            <geometry>
                <cylinder radius="0.035" length="0.03"/>
            </geometry>
            <materaial name="orange"/>
        </collision>

        <xacro:inertial_cylinder mass="0.001" length="0.03" radius="0.035">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
       
    </link>

    <gazebo reference="lidar_frame">
        <material>Gazebo/Red</material>
        <sensor name="lidar" type="ray">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <sample>360</sample>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin name="lidar_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>lidar_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
</robot>    